.forgot-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f6fa;
  font-family: "Poppins", sans-serif;
}

.forgot-card {
  background: #fff;
  padding: 40px 35px;
  width: 420px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.brand {
  font-size: 28px;
  font-weight: bold;
}

.green {
  color: #08c55d;
}

.blue {
  color: #3586dc;
}

h2 {
  margin-bottom: 10px;
  color: #3586dc;
}

.desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}

input:focus {
  border-color: #3586dc;
}

button {
  width: 100%;
  padding: 12px;
  background: #08c55d;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #01702a;
}

.message {
  margin-top: 15px;
  font-weight: 600;
  color: #333;
}

.back-link {
  display: block;
  margin-top: 20px;
  color: #3586dc;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.back-link:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .forgot-card {
    width: 90%;
    padding: 30px 20px;
  }
}
