/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f6fa;
}


input, button {
  box-sizing: border-box;
}

.container {
  width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo img {
  width: 30px;
  margin-right: 10px;
}

.brand {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  gap: 0;
}

.brand span {
  display: inline;
  margin: 0;
  padding: 0;
}

.green {
  color: #08c55d;
}

.blue {
  color: #3586dc;
}

.subtitle {
  margin-bottom: 20px;
  color: #666;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #d6d6d6;
  background: #f3f4f6;
}

.tab {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #374151;
  transition: all 0.3s ease;
  position: relative;
}

.tab:hover {
  background: #ffffff;
}

.tab.active {
  background: #ffffff;
  font-weight: bold;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 3px;
  background: #2563eb;
  border-radius: 2px;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background: #08c55d;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #01702a;
}

.hidden {
  display: none;
}

.form-title {
  font-size: 18px;
  margin-bottom: 10px;
}

#welcomeContainer {
  text-align: center;
}

#welcomeContainer h2 {
  margin-bottom: 20px;
}

#welcomeContainer button {
  padding: 12px 20px;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#welcomeContainer button:hover {
  background: #dc2626;
}
